.timeline-repository-container {
  position: relative;
  padding: 10px;

  list-style: none;
}

.timeline-repository-container::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  border-left: 10px solid rgb(255, 255, 255); /* Ajuste a espessura e a cor da linha conforme necessário */
}

.timeline-repository {
  display: flex;
  flex-direction: column;

  position: relative;

  background-color: rgb(56, 56, 56);

  padding: 20px;

  width: 30%;
  left: 10%;

  justify-content: center;
}

.timeline-repository::after {
  background-color: red;
  left: 10px;
  transform: translateX(20%);
}

.timeline-repository-container:nth-child(even) > .timeline-repository {
  left: 90%;
  transform: translateX(-100%);
}
