.timeline-repository-container {
  position: relative;
  list-style: none;
}

.timeline-repository-container::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  border-left: 5px solid rgb(255, 255, 255);
}

.timeline-repository-container::after {
  content: "";
  position: absolute;
  left: 50%;
  top: calc(50% - 5px);

  width: 30px;
  height: 30px;
  border-radius: 99px;

  transform: translate(-50%, -50%);
  border: 7px solid rgb(56, 56, 56);
  background-color: rgb(255, 255, 255);
}

.timeline-repository {
  display: flex;
  flex-direction: column;

  position: relative;
  padding: 30px;

  background-color: rgb(56, 56, 56);


  width: 30%;
  left: 10%;
}

.timeline-repository > h2{
  font-size: 1.5em;
  margin: 0;
}

.timeline-repository__created_at{
  position: absolute;

  top: 5px;
  left: 10px;

  font-weight: bold;

  color: rgb(150, 150, 150);
}

.timeline-repository::before{
  content: "";
  width: 30px;
  height: 30px;
  left: calc(100% - 15px);
  top: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  rotate: 45deg;
  background-color: rgb(56, 56, 56);
}


.timeline-repository-container:nth-child(even) > .timeline-repository {
  left: 90%;
  transform: translateX(-100%);
}

.timeline-repository-container:nth-child(even) > .timeline-repository::before{
  left: calc(0% - 15px);
}
